{% extends 'base.html' %}
{% block title %}Log-In {% endblock %}
{% block content %}
<h1>Log-In</h1>
{% if form.errors %}
<p>Username and password didn't match</p>
<p>Please try again</p>
{% else %}
<p>If you don't have an account,<a href="{% url 'register' %}"><b>Click here</b></a></p>

{% endif %}
<div class='login-form'>
    <form action="{% url 'login' %}"  method='post'>

        <p><a href="{% url 'password_reset' %}">Forgotten your password ?
        {{form.as_p}}
        {% csrf_token %}
        <input type='hidden'  value='{{next}}' name='next'>
        <input type='submit' value='Log-In'>
    </form>
</div>
{% endblock %}
